<div class="header-blog">
        <img class="logo" src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/258_Pied_Piper_logo-512.png" alt="logo" width="45px">
    <nav class="navegator">
        <a class="icon-main" href="/timeline/myPosts"><i class="fas fa-book"></i></a>
        <a class="icon-main" href="/timeline"><i class="fas fa-home"></i></a>
        <a class="icon-main" href="/users/my"><i class="fas fa-user-alt"></i></a>
    </nav>
</div>