<!DOCTYPE html>
<html lang="es">
<head>
    <%-include('./partials/head') %>
</head>
<body style="background-color:var(--spaceSoft);">

  <%-include('./partials/header') %>
    <h1 style="margin-left: 10px;">Nuevo articulo</h1>

    <div class="container-add-blog">
        <form action="/timeline" method="post">
                <label for="title">Titulo del post</label>
                <input required type="text" name="title" id="title" class="form-control">


                <label for="description">Descripcion del post</label>
                <textarea name="description" id="description" cols="60" rows="4" class="form-control"></textarea>


                <label for="content">Post en Markdown</label>
                <textarea required name="content" id="content" cols="60" rows="8" class="form-control"></textarea>

            <input type="submit" style="font-size: 2rem;" value="Enviar" class="button">
        </form>

      <div class="markTutorial">
        <h2 style="text-align:right;">¿Cómo generar Markdown?</h2>
        <p>Utilize un editor, luego simplemente copie el código en markdown </p>
        <a href="https://pandao.github.io/editor.md/en.html" style="color: rgb(31, 231, 221);" target="_blank">Editor recomendado</a>
        <br>
        <br>
        <img src="https://raw.githubusercontent.com/amitmerchant1990/electron-markdownify/66b9deb21d80e4053e950557e148ae0ed5bf99f2/img/markdownify.gif" alt="tutorial" width="700px">

      </div>
    </div>

  

</body>
</html>