<!DOCTYPE html>
<html>
  <head>
    <%-include('./partials/head') %>
  </head>
  <body>
    <form action="/" method="post">

      <label for="">Ingresa tu email</label>
      <input type="email" required autocomplete="email">

    </form>


  </body>
</html>
