*{
    box-sizing: border-box;
}

.header-blog{
    width: 100%;
    height: 60px;
    background-color: #406882;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.logo{
    margin: 5px;
}

.navegator{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: calc(50% - 40%);
}

.icon-main{
    font-size: 35px;
    margin-left: 10px;
    color: #B1D0E0;
}

.icon-main:hover{
    color: white;
}