:root{
  --spaceSoft:#1A374D;
  --spaceButton:#B1D0E0;
  --size-button:50px;
}

*{
  box-sizing: border-box;
}


body {
  padding-top:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--spaceSoft);
  position: relative;
  color: white;
}

a {
  color: #00B7FF;
}

.button-add,
.exit{
  width: var(--size-button);
  height: var(--size-button);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  position: fixed;
  text-decoration: none;
  color: white;
  z-index: 20;
  background-color: var(--spaceButton);
}

.button-add{
  bottom: 10px;
  left: 10px;
}

.exit{
  bottom:10px;
  right: 10px;
}